.root {
  position: relative;
  transition:
    transform 0.7s,
    overlay 0.7s allow-discrete,
    display 0.7s allow-discrete;
  /* Final state of the exit animation */
  transform: translateX(calc(var(--drawer-size) * -1));

  margin: 0;
  height: auto;
  position-anchor: --canvas;
  top: anchor(--canvas top);
  left: anchor(--canvas left);
  anchor-name: --drawer;
  box-shadow: 0px 0px 8px 1px oklch(from var(--color-baseline) l c h);
  border-color: oklch(from var(--color-baseline) l c h);
  max-width: var(--drawer-size);
  box-sizing: border-box;
  will-change: transform;
}

.root:popover-open {
  transform: translateX(0px);
}

.toggler {
  position: absolute;
  position-anchor: --canvas;
  top: anchor(--canvas top);
  right: anchor(--canvas left);
  z-index: 1;
  transition:
    transform 0.7s,
    overlay 0.7s allow-discrete,
    display 0.7s allow-discrete;
  transform: translateX(0px);
}

.toggler[aria-pressed] {
  transform: translateX(var(--drawer-size));
}

@starting-style {
  .root:popover-open {
    transform: translateX(calc(var(--drawer-size) * -1));
  }
  .toggler[aria-pressed] {
    transform: translateX(0px);
  }
}
