.bar {
  display: inline-block;
  height: 10px;
}

.pending {
  background-image: repeating-linear-gradient(45deg, #d7d7d7 0 5px, #e2e2e2 5px 10px);
  animation-name: diagonal_move;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes diagonal_move {
  0% {
    background-position: 0rem 0rem;
  }
  100% {
    background-position: 10rem 0rem;
  }
}
