.section {
  background-color: oklch(from var(--color-baseline) l c h);
}

.masonry {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(33.3%, 1fr));
  grid-auto-rows: minmax(30px, auto);
  grid-auto-flow: dense;
}

.tall {
  grid-row: span 2;
}

.big {
  grid-column: span 2;
  grid-row: span 2;
}

.elevation-sunken {
  background-color: oklch(from var(--color-baseline) calc(l + var(--elevation-surface-sunken)) c h);
  box-shadow: 0 0 2px 1px oklch(from var(--color-baseline) calc(l + var(--elevation-shadow-sunken)) c h);
  margin: 8px;
  padding: 8px;
}

.elevation-raised {
  background-color: oklch(from var(--color-baseline) calc(l + var(--elevation-surface-raised)) c h);
  box-shadow: 0 0 3px 2px oklch(from var(--color-baseline) calc(l + var(--elevation-shadow-raised)) c h);
  margin: 8px;
  padding: 8px;
}
