.LC4ZHXxV9EGyRW3U1khG {
  display: grid;
  grid-template-columns: 50px auto;
  grid-template-rows: 50px 50px auto;
  grid-template-areas:
    'header header'
    'context context'
    'sidebar main';
  height: 100vh;
}

.mSLAG1IyQTrnrVBjc339 {
  grid-area: header;
  background-color: #eaeaea;
  display: flex;
  align-items: center;
}

.ZCN2LaCmD35yawC7v4dQ {
  grid-area: sidebar;
  background-color: rgb(235, 235, 235);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.swVPwVFobTbFiQClaL0N {
  grid-area: main;
}

.syOS5uE3zB2xh_lr20cN {
  grid-area: main;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  background-color: var(--elevation-surface-baseline);
  color: var(--color-onBaseline);
}

.bqDRvsv7yfy3Zd0LZ_TG {
  grid-area: context;
  display: flex;
  align-items: center;
  background-color: rgb(212 212 212);
  border-bottom: 1px solid #bababa;
  padding-left: 4px;
}

.kziKbfTCzpRBFarTYoBM {
  appearance: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: auto;
  outline: none;
  border-radius: 6px;
  padding: 0 8px;
  background-color: #0284c5;
  color: #fff;
  font-size: 16px;
  line-height: 0;
  transition: 0.25s background-color;
  border: 0;
}

.HX5QoY7hq_JrDb7ioqNH {
  padding-inline-start: 0px;
  list-style-type: none;
  margin: 0;
}
.HX5QoY7hq_JrDb7ioqNH[data-orientation='horizontal'] {
  display: flex;
}

.QiPGEZWJWT4e1DZz1Gmt[aria-pressed='true'] {
  background-color: aqua;
}

.QiPGEZWJWT4e1DZz1Gmt > svg {
  pointer-events: none;
}

.gLHfoqlLm8V4fMaiX6US[popover] {
  position: absolute;
  position-anchor: --toggle-btn;
  top: anchor(bottom);
  left: anchor(left);
  margin: 0;
  padding: 4px;
  background: #fff;
  border-color: #c9c9c9;
}

.CmWqfCbb6ii_4Bhwt1vq {
  anchor-name: --toggle-btn;
  display: flex;
  height: 32px;
  border: 0;
  background: transparent;
}

.NS97j0bZ7EnSwdEncl9b {
  display: flex;

  &[aria-orientation="vertical"] {
    flex-direction: column;
  }

  background-color: #ddd;
  border-radius: 4px;
}

.tqYo5oGIgPj3GqvfpP8Q {
  border: 0;
  background-color: #ddd;
  padding: 4px;
  border-radius: 2px;
  aspect-ratio: 1 / 1;
  height: 32px;

  &[aria-pressed='true'] {
    background-color: rgba(102, 102, 102, 0.744);
    border: 1px solid #707070;
  }

  &:hover {
    background-color: #c6c6c6;
  }

  --ripple-x: 0;
  --ripple-y: 0;
  --ripple-color: rgba(0, 182, 195, 0.744);
  --animation-tick: 0;
}

.V3tJhduHGJyMchHUcoZ7 {
    background-image: paint(ripple);
  }

.o3h2R7zSZDL44Shv6uEC {
  list-style-type: none;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  max-height: 18em;
  overflow-y: auto;
}

.bTjleoO9T5t0KDen5bJ9 {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 8px;
  justify-content: start;
  cursor: pointer;
  align-items: center;
}

.bTjleoO9T5t0KDen5bJ9[aria-selected="true"] {
  background-color: #c9fffe;
}

.bTjleoO9T5t0KDen5bJ9.xJPwo_3SkY8CI1trTt49 {
  background-color: #e8f8ff;
}

.PjsD8uaIuFZ6uLoEPt7A {
  background-color: var(--elevation-surface-baseline);
}

.PHSj2xkpShou3D_WA8jB {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(33.3%, 1fr));
  grid-auto-rows: minmax(30px, auto);
  grid-auto-flow: dense;
}

.ly_gHDy5A7e7cPv8OoJO {
  grid-row: span 2;
}

.HfMBbVrKGpxSyFNd0rus {
  grid-column: span 2;
  grid-row: span 2;
}

.v7QBo9h31cLh52EwubOH {
  background-color: var(--elevation-surface-sunken);
  box-shadow: 0 0 0 1px var(--elevation-shadow-sunken);
  margin: 8px;
}


.qSzv86ST7BKjHEfKoKRa {
  font-family: var(--typography-display-lg-font-family);
  font-size: var(--typography-display-lg-font-size);
  font-weight: var(--typography-display-lg-font-weight);
  font-style: normal;
  white-space: pre-wrap;
}

.Yppj3rhN1jUnxns09JtF {
  display: grid;
  grid-gap: 8px;
  justify-items: center;
  margin-top: 8px;
}

.UwtYivGqu_UMrzE886jA {
  width: 32px;
  height: 32px;
  pointer-events: none;
  position: relative;
  overflow: hidden;
}

.UwtYivGqu_UMrzE886jA > * {
  pointer-events: none;
}

/* .icon::before {
  content: "";
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url("../../assets/atlas.png") 0 0 repeat;
  /* transform: scale(0.12);
  transform-origin: top left;
} */

.iJUecJ48s04L8Al8x5WC::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url(/wire-live/src/assets/575b65ef6bb0df5dfb8a.png) 0 0 repeat;
  transform-origin: top left;
  transform: scale(0.12);
}

.DGE9CO_XmTLetqK_h0pY::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url(/wire-live/src/assets/575b65ef6bb0df5dfb8a.png) 0 0 repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(271deg) translateX(-256px);
}

.DGAeFrbCfJ6CFxKC8QoK::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url(/wire-live/src/assets/575b65ef6bb0df5dfb8a.png) 0 0 repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(180deg) translate(-256px, -256px);
}

.AERSOcrU0QdAPatZRpZH::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url(/wire-live/src/assets/575b65ef6bb0df5dfb8a.png) 0 0 repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(90deg) translate(0px, -256px);
}

.USwkBda43Il89jzTHOPV::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url(/wire-live/src/assets/575b65ef6bb0df5dfb8a.png) -256px 0 repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(0deg);
}

.C015eYVteWci5Oxt_Wph::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url(/wire-live/src/assets/575b65ef6bb0df5dfb8a.png) -512px 0 repeat;
  transform-origin: top left;
  transform: scale(0.12);
}

.YwVvbSGXqFpYJg3eaDhQ::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url(/wire-live/src/assets/575b65ef6bb0df5dfb8a.png) -512px 0 repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(271deg) translateX(-256px);
}

.sPBntzguSibagjE6o1qo::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url(/wire-live/src/assets/575b65ef6bb0df5dfb8a.png) -512px 0 repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(180deg) translate(-256px, -256px);
}

.jcm0ElwUxZQvN62mcUoC::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url(/wire-live/src/assets/575b65ef6bb0df5dfb8a.png) -512px 0 repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(90deg) translate(0px, -256px);
}
.rMeXZrRv_s0KMEEObAZp::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url(/wire-live/src/assets/575b65ef6bb0df5dfb8a.png) -768px 0 repeat;
  transform-origin: top left;
  transform: scale(0.12);
}

._Z165d6vvgk5PH11bPCh::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url(/wire-live/src/assets/575b65ef6bb0df5dfb8a.png) -768px 0 repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(271deg) translateX(-256px);
}

.yzJKyAkaQ8T7CvAxTACd::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url(/wire-live/src/assets/575b65ef6bb0df5dfb8a.png) -768px 0 repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(180deg) translate(-256px, -256px);
}

.sIRKst90g8b8QFarH5Qv::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url(/wire-live/src/assets/575b65ef6bb0df5dfb8a.png) -768px 0 repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(90deg) translate(0px, -256px);
}

.I7PgqR0ENH12fgIxg7qV::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url(/wire-live/src/assets/575b65ef6bb0df5dfb8a.png) -1024px 0 repeat;
  transform-origin: top left;
  transform: scale(0.12);
}

.TYGo1rTZiPtgr7gnAVy_::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url(/wire-live/src/assets/575b65ef6bb0df5dfb8a.png) -1024px 0 repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(271deg) translateX(-256px);
}

.w5Sut8NS7bcfcOo3vzBm::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url(/wire-live/src/assets/575b65ef6bb0df5dfb8a.png) -1024px 0 repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(180deg) translate(-256px, -256px);
}

.AMXamc2_m5oKVJUlx4Ya::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url(/wire-live/src/assets/575b65ef6bb0df5dfb8a.png) -1024px 0 repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(90deg) translate(0px, -256px);
}

.PqWoirWpkEiVkJWXZjts::before {
  content: '';  
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url(/wire-live/src/assets/575b65ef6bb0df5dfb8a.png) -1280px 0 repeat;
  transform-origin: top left;
  transform: scale(0.12);
}

.v_RqktKldnfBdMzps1zi::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url(/wire-live/src/assets/575b65ef6bb0df5dfb8a.png) -1280px 0 repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(271deg) translateX(-256px);
}

.QlXsAMZRO9H5Adn7deMl::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url(/wire-live/src/assets/575b65ef6bb0df5dfb8a.png) -1280px 0 repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(180deg) translate(-256px, -256px);
}

.z_v6DnGUt0VmipzUWl2n::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url(/wire-live/src/assets/575b65ef6bb0df5dfb8a.png) -1280px 0 repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(90deg) translate(0px, -256px);
}

.Eh5EIkXFVlw9FxNfvGbF::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url(/wire-live/src/assets/575b65ef6bb0df5dfb8a.png) -1536px 0 repeat;
  transform-origin: top left;
  transform: scale(0.12);
} 

._erosWSUDfdUVnGM7_Mw::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url(/wire-live/src/assets/575b65ef6bb0df5dfb8a.png) -1536px 0 repeat;
  transform-origin: top left;
  transform: scale(-0.12, 0.12) translate(-256px, 0);
}

.qGnw2jHDnHQqLGxqQ3e2::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url(/wire-live/src/assets/575b65ef6bb0df5dfb8a.png) -1536px 0 repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(180deg) translate(-256px, -256px);
}

.pkiO1TWIa2ghvwIRE14A::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url(/wire-live/src/assets/575b65ef6bb0df5dfb8a.png) -1536px 0 repeat;
  transform-origin: top left;
  transform: scale(0.12);
}

.h4Wrvowoxds55eh5b0KV::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url(/wire-live/src/assets/575b65ef6bb0df5dfb8a.png) -1536px 0 repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(271deg) translateX(-256px);
}

.EYwyqV5YkVDwwR5pnDvR::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url(/wire-live/src/assets/575b65ef6bb0df5dfb8a.png) -1536px 0 repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(90deg);
}

.Syk2yBZMDI6K4zM2LOub::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url(/wire-live/src/assets/575b65ef6bb0df5dfb8a.png) -1536px 0 repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(90deg) translate(0px, -256px);
}

.RCYXn5LcDraBFT1Pn20P::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0; 
  left: 0;  
  z-index: 0; 
  background: url(/wire-live/src/assets/575b65ef6bb0df5dfb8a.png) -1536px 0 repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(180deg);
}

.BvtoUo55tj5_f5g0qgj2::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url(/wire-live/src/assets/575b65ef6bb0df5dfb8a.png) -1792px 0 repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(90deg) translate(0px, -256px);
}

.tZP1DoOqKi4GesegviHa::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url(/wire-live/src/assets/575b65ef6bb0df5dfb8a.png) -1792px 0 repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(271deg) translateX(-256px);
}

.VZ6iXqf1zwBvSXqVX2Rp::before { 
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url(/wire-live/src/assets/575b65ef6bb0df5dfb8a.png) -1792px 0 repeat;
  transform-origin: top left;
  transform: scale(0.12);
}

.HczjNpQlUoItkKm9PVtZ::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;  
  top: 0;
  left: 0;
  z-index: 0;
  background: url(/wire-live/src/assets/575b65ef6bb0df5dfb8a.png) -1792px 0 repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(180deg) translate(-256px, -256px);
}

.DBBZJUkOnJhXvjGwaPL0::before {
  content: '';
  position: absolute; 
  width: 256px; 
  height: 256px;  
  top: 0;
  left: 0;    
  z-index: 0;
  background: url(/wire-live/src/assets/575b65ef6bb0df5dfb8a.png) 0px -256px repeat;
  transform-origin: top left;
  transform: scale(0.12);
}

.sSV1mbFo43aAFNr4wdDm::before {
  content: '';
  position: absolute;
  width: 256px; 
  height: 256px;
  top: 0;
  left: 0;  
  z-index: 0;
  background: url(/wire-live/src/assets/575b65ef6bb0df5dfb8a.png) -256px -256px repeat;
  transform-origin: top left;
  transform: scale(0.12);
}

.lZwnYS0Fy8Uol3vzL5Vm::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url(/wire-live/src/assets/575b65ef6bb0df5dfb8a.png) -256px -256px repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(180deg) translate(-256px, -256px);
}

.D6JLEghqff3M0YBW3BX6::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url(/wire-live/src/assets/575b65ef6bb0df5dfb8a.png) -256px -256px repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(271deg) translateX(-256px);
}

.R7mKf4ZLZGiCF0fyxCNw::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url(/wire-live/src/assets/575b65ef6bb0df5dfb8a.png) -256px -256px repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(90deg) translate(0px, -256px);
}

.cSiB9uJqng8v6v4_Z0nT::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url(/wire-live/src/assets/575b65ef6bb0df5dfb8a.png) -256px -256px repeat;
  transform-origin: top left;
  transform: scale(0.12);
}

.UBEd_hHya7MPTmwknQWI::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url(/wire-live/src/assets/575b65ef6bb0df5dfb8a.png) -512px -256px repeat;
  transform-origin: top left;
  transform: scale(-0.12, 0.12) translate(-256px, 0);
}

.nEAfChS7q3Q2pMrICZhg::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url(/wire-live/src/assets/575b65ef6bb0df5dfb8a.png) -256px -256px repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(180deg);
}

.lJrG0_zRUB5GUDC5KEPA::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url(/wire-live/src/assets/575b65ef6bb0df5dfb8a.png) -256px -256px repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(180deg) translate(-256px, -256px);
}

.HzIherdlgw_mUbr6nsUu::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url(/wire-live/src/assets/575b65ef6bb0df5dfb8a.png) -256px -256px repeat;
  transform-origin: top left;
  transform: scale(0.12);
}

.f0Ci9SK3qU8EeBAItyhl::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url(/wire-live/src/assets/575b65ef6bb0df5dfb8a.png) -256px -256px repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(180deg) translate(-256px, -256px);
}

.uOPWjNQ5WzsCW8w8oYW2::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url(/wire-live/src/assets/575b65ef6bb0df5dfb8a.png) -256px -256px repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(90deg) translate(0px, -256px);
}

.yxupfInHpOec_MyyQTKQ::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url(/wire-live/src/assets/575b65ef6bb0df5dfb8a.png) -256px -256px repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(90deg) translate(0px, -256px);
}

.vftYexdRzuJbShkQpDUw::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url(/wire-live/src/assets/575b65ef6bb0df5dfb8a.png) -768px -256px repeat;
  transform-origin: top left;
  transform: scale(0.12);
}

.WtVvGJh5WhoDtB7UXkGR::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url(/wire-live/src/assets/575b65ef6bb0df5dfb8a.png) -256px -256px repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(90deg) translate(0px, -256px);
}

.xsVt8NIfnBcFHZpncVcG::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url(/wire-live/src/assets/575b65ef6bb0df5dfb8a.png) -256px -256px repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(180deg) translate(-256px, -256px);
}

.eY1jCyhczoHN5V4_waTD::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url(/wire-live/src/assets/575b65ef6bb0df5dfb8a.png) -256px -256px repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(180deg) translate(-256px, -256px);
}

.j81RNjQlYFe6Upi1de3c::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url(/wire-live/src/assets/575b65ef6bb0df5dfb8a.png) -1024px -256px repeat;
  transform-origin: top left;
  transform: scale(0.12);
}

.oIHygs4PyE1pcdXConll::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url(/wire-live/src/assets/575b65ef6bb0df5dfb8a.png) -1024px -256px repeat;
  transform-origin: top left;
  transform: scale(-0.12, 0.12) translate(-256px, 0px);
}

.KbdiMJd26DMfUoTu5YfN::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url(/wire-live/src/assets/575b65ef6bb0df5dfb8a.png) -256px -256px repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(90deg) translate(0px, -256px);
}

.yvh_8yo2wBPO5xGTS6mk::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url(/wire-live/src/assets/575b65ef6bb0df5dfb8a.png) -256px -256px repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(90deg) translate(0px, -256px);
}

.zPPf1JubEH1UwESj9Xmc::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url(/wire-live/src/assets/575b65ef6bb0df5dfb8a.png) -256px -256px repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(180deg) translate(-256px, -256px);
}

.kwMcAJLwmAkwMXeMgLMH::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url(/wire-live/src/assets/575b65ef6bb0df5dfb8a.png) -256px -256px repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(180deg) translate(-256px, -256px);
}

.Hntavojche7Y8ORxgH87::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url(/wire-live/src/assets/575b65ef6bb0df5dfb8a.png) -256px -256px repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(180deg) translate(-256px, -256px);
}

.Pr3_M9tz80nq9nsdF5lA::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url(/wire-live/src/assets/575b65ef6bb0df5dfb8a.png) -256px -256px repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(180deg) translate(-256px, -256px);
}

.ZTTz3OfHGKGHnP_yJaaG::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url(/wire-live/src/assets/575b65ef6bb0df5dfb8a.png) -1280px -256px repeat;
  transform-origin: top left;
  transform: scale(0.12);
}

.LrJbPeelFTSK2w_nEIHV::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url(/wire-live/src/assets/575b65ef6bb0df5dfb8a.png) -1280px -256px repeat;
  transform-origin: top left;
  transform: scale(-0.12, 0.12)  translate(-256px, 0px);
}

.n4O_yEEp4bHNTAxGHVr9::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url(/wire-live/src/assets/575b65ef6bb0df5dfb8a.png) -256px -256px repeat;
  transform-origin: top left;
  transform: scale(0.12) translate(0px, -256px);
}

.dAm_wtq6_HVogn4C2LKO::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url(/wire-live/src/assets/575b65ef6bb0df5dfb8a.png) -256px -256px repeat;
  transform-origin: top left;
  transform: scale(0.12) translate(0px, -256px);
}

.P1QAtjtDtUqyijxCs8Sc::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url(/wire-live/src/assets/575b65ef6bb0df5dfb8a.png) -256px -256px repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(90deg) translate(0px, -256px);
}

.x8FovWG3sZiiujWtQUtd::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url(/wire-live/src/assets/575b65ef6bb0df5dfb8a.png) -256px -256px repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(90deg) translate(0px, -256px);
}

.dgz5MABo5LEFIvrGpYUO::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url(/wire-live/src/assets/575b65ef6bb0df5dfb8a.png) -256px -256px repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(90deg) translate(0px, -256px);
}

.dMyUiLLJB6601WKwcCdI::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;  
  top: 0;
  left: 0;
  z-index: 0;
  background: url(/wire-live/src/assets/575b65ef6bb0df5dfb8a.png) -256px -256px repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(90deg) translate(0px, -256px);
}

.h4QQZkNI73NBjmGM09Xf::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url(/wire-live/src/assets/575b65ef6bb0df5dfb8a.png) -1536px -256px repeat;
  transform-origin: top left;
  transform: scale(0.12);
}

.WadRMQyObAg7XObrnexv::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url(/wire-live/src/assets/575b65ef6bb0df5dfb8a.png) -256px -256px repeat;
  transform-origin: top left;
  transform: scale(0.12) translate(0px, -256px);
}

.OUUxl0aXvEnE02zZMN_l::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url(/wire-live/src/assets/575b65ef6bb0df5dfb8a.png) -256px -256px repeat;
  transform-origin: top left;
  transform: scale(0.12) translate(0px, -256px);
}

.JvJ4YrCfQhrugmMFue8m::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url(/wire-live/src/assets/575b65ef6bb0df5dfb8a.png) -256px -256px repeat;
  transform-origin: top left;
  transform: scale(0.12) translate(0px, -256px);
}

.DNP8nGzyUYjXh1KQXqhu::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url(/wire-live/src/assets/575b65ef6bb0df5dfb8a.png) -1792px -256px repeat;
  transform-origin: top left;
  transform: scale(0.12);
}

.E6H8Fb4fsiyqctehYgSw::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url(/wire-live/src/assets/575b65ef6bb0df5dfb8a.png) -256px -256px repeat;
  transform-origin: top left;
  transform: scale(0.12) translate(0px, -256px);
}

.CIPd3pY2dVDOtkzNp3Fn::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url(/wire-live/src/assets/575b65ef6bb0df5dfb8a.png) -256px -256px repeat;
  transform-origin: top left;
  transform: scale(0.12) translate(0px, -256px);
}

.MyHr9arND9StyJhFHYLA::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url(/wire-live/src/assets/575b65ef6bb0df5dfb8a.png) -256px -256px repeat;
  transform-origin: top left;
  transform: scale(0.12) translate(0px, -256px);
}

.zDt0xpagcynPkVDexbQS::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url(/wire-live/src/assets/575b65ef6bb0df5dfb8a.png) 0px -512px repeat;
  transform-origin: top left;
  transform: scale(0.12);
}

.YrzkQZh8Y8zJHVVA9JsG::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url(/wire-live/src/assets/575b65ef6bb0df5dfb8a.png) -256px -256px repeat;
  transform-origin: top left;
  transform: scale(0.12) translate(0px, -256px);
}

.J2JPawejtb4dpRi276jJ::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url(/wire-live/src/assets/575b65ef6bb0df5dfb8a.png) -256px -256px repeat;
  transform-origin: top left;
  transform: scale(0.12) translate(0px, -256px);
}

.ZrbPzZiaOSCqdctNqP31::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url(/wire-live/src/assets/575b65ef6bb0df5dfb8a.png) -256px -256px repeat;
  transform-origin: top left;
  transform: scale(0.12) translate(0px, -256px);
}

.cSiB9uJqng8v6v4_Z0nT::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url(/wire-live/src/assets/575b65ef6bb0df5dfb8a.png) -512px -256px repeat;
  transform-origin: top left;
  transform: scale(0.12);
}

.nEAfChS7q3Q2pMrICZhg::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url(/wire-live/src/assets/575b65ef6bb0df5dfb8a.png) -256px -256px repeat;
  transform-origin: top left;
  transform: scale(0.12) translate(0px, -256px);
}

.HzIherdlgw_mUbr6nsUu::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url(/wire-live/src/assets/575b65ef6bb0df5dfb8a.png) -256px -256px repeat;
  transform-origin: top left;
  transform: scale(0.12) translate(0px, -256px);
}

.uOPWjNQ5WzsCW8w8oYW2::before {
  content: '';  
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url(/wire-live/src/assets/575b65ef6bb0df5dfb8a.png) -256px -256px repeat;
  transform-origin: top left; 
  transform: scale(0.12) translate(0px, -256px);
}



.snlXzClAQQLmrqq2MfLm {
  display: grid;
  grid-gap: 8px;
  grid-auto-flow: column;
}

/**
 * Design Tokens
 * Autogenerated from tokens.json.
 * DO NOT EDIT!
 */

:root {
  --color-background: #ffffff;
  --color-onBaseline: #ffffff;
  --color-primary: #007aff;
  --color-secondary: #6c6c6c;
  --elevation-shadow-baseline: #ff5943;
  --elevation-shadow-overlay: #ff9c8f;
  --elevation-shadow-raised: #ff7462;
  --elevation-shadow-sunken: #f14a38;
  --elevation-surface-baseline: #ff5943;
  --elevation-surface-overlay: #ff9c8f;
  --elevation-surface-raised: #ff7462;
  --elevation-surface-sunken: #f14a38;
  --typography-display-lg-font-family: "Archivo Black", sans-serif;
  --typography-display-lg-font-size: 4rem;
  --typography-display-lg-font-weight: 700;
}

@supports (color: color(display-p3 1 1 1)) {
  :root {
    --color-background: color(display-p3 1 1 1);
    --color-onBaseline: color(display-p3 1 1 1);
    --color-primary: color(display-p3 0 0.47843137254901963 1);
    --color-secondary: color(display-p3 0.4235294117647059 0.4235294117647059 0.4235294117647059);
    --elevation-shadow-baseline: color(display-p3 1 0.34901960784313724 0.2627450980392157);
    --elevation-shadow-overlay: color(display-p3 1 0.611764705882353 0.5607843137254902);
    --elevation-shadow-raised: color(display-p3 1 0.4549019607843137 0.3843137254901961);
    --elevation-shadow-sunken: color(display-p3 0.9450980392156862 0.2901960784313726 0.2196078431372549);
    --elevation-surface-baseline: color(display-p3 1 0.34901960784313724 0.2627450980392157);
    --elevation-surface-overlay: color(display-p3 1 0.611764705882353 0.5607843137254902);
    --elevation-surface-raised: color(display-p3 1 0.4549019607843137 0.3843137254901961);
    --elevation-surface-sunken: color(display-p3 0.9450980392156862 0.2901960784313726 0.2196078431372549);
  }
}


body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

#app {
  height: 100%;
}

#canvas {
  height: 100%;
  width: 100%;
}

.lucide-icon {
  pointer-events: none;
}

