.LC4ZHXxV9EGyRW3U1khG {
  display: grid;
  grid-template-columns: 50px auto;
  grid-template-rows: 50px 50px auto;
  grid-template-areas:
    'header header'
    'context context'
    'sidebar main';
  height: 100vh;
}

.mSLAG1IyQTrnrVBjc339 {
  grid-area: header;
  background-color: #eaeaea;
  display: flex;
  align-items: center;
}

.ZCN2LaCmD35yawC7v4dQ {
  grid-area: sidebar;
  background-color: rgb(235, 235, 235);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.swVPwVFobTbFiQClaL0N {
  grid-area: main;
}

.bqDRvsv7yfy3Zd0LZ_TG {
  grid-area: context;
  display: flex;
  align-items: center;
  background-color: rgb(212 212 212);
  border-bottom: 1px solid #bababa;
  padding-left: 4px;
}

.kziKbfTCzpRBFarTYoBM {
  appearance: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: auto;
  outline: none;
  border-radius: 6px;
  padding: 0 8px;
  background-color: #0284c5;
  color: #fff;
  font-size: 16px;
  line-height: 0;
  transition: 0.25s background-color;
  border: 0;
}

.HX5QoY7hq_JrDb7ioqNH {
  padding-inline-start: 0px;
  list-style-type: none;
  margin: 0;
}
.HX5QoY7hq_JrDb7ioqNH[data-orientation='horizontal'] {
  display: flex;
}

.QiPGEZWJWT4e1DZz1Gmt[aria-pressed='true'] {
  background-color: aqua;
}

.QiPGEZWJWT4e1DZz1Gmt > svg {
  pointer-events: none;
}

.gLHfoqlLm8V4fMaiX6US[popover] {
  position: absolute;
  position-anchor: --toggle-btn;
  top: anchor(bottom);
  left: anchor(left);
  margin: 0;
  padding: 4px;
  background: #fff;
  border-color: #c9c9c9;
}

.CmWqfCbb6ii_4Bhwt1vq {
  anchor-name: --toggle-btn;
  display: flex;
  height: 32px;
  border: 0;
  background: transparent;
}

.NS97j0bZ7EnSwdEncl9b {
  display: flex;

  &[aria-orientation="vertical"] {
    flex-direction: column;
  }

  background-color: #ddd;
  border-radius: 4px;
}

.tqYo5oGIgPj3GqvfpP8Q {
  border: 0;
  background-color: #ddd;
  padding: 4px;
  border-radius: 2px;
  aspect-ratio: 1 / 1;
  height: 32px;

  &[aria-pressed='true'] {
    background-color: rgba(102, 102, 102, 0.744);
    border: 1px solid #707070;
  }

  &:hover {
    background-color: #c6c6c6;
  }

  --ripple-x: 0;
  --ripple-y: 0;
  --ripple-color: rgba(0, 182, 195, 0.744);
  --animation-tick: 0;
}

.V3tJhduHGJyMchHUcoZ7 {
    background-image: paint(ripple);
  }

.o3h2R7zSZDL44Shv6uEC {
  list-style-type: none;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

.bTjleoO9T5t0KDen5bJ9 {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 8px;
  justify-content: start;
  cursor: pointer;
}

.PjsD8uaIuFZ6uLoEPt7A {
  background-color: #ff5943;
  min-height: 200px;
}

.Yppj3rhN1jUnxns09JtF {
  display: grid;
  grid-gap: 8px;
  justify-items: center;
  margin-top: 8px;
}

.UwtYivGqu_UMrzE886jA {
  width: 32px;
  height: 32px;
  pointer-events: none;
  position: relative;
  overflow: hidden;
}

.UwtYivGqu_UMrzE886jA > * {
  pointer-events: none;
}

/* .icon::before {
  content: "";
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url("../../assets/atlas.png") 0 0 repeat;
  /* transform: scale(0.12);
  transform-origin: top left;
} */

.iJUecJ48s04L8Al8x5WC::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url(/src/assets/739d47563d2a9b517230.png) 0 0 repeat;
  transform-origin: top left;
  transform: scale(0.12);
}

.DGE9CO_XmTLetqK_h0pY::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url(/src/assets/739d47563d2a9b517230.png) 0 0 repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(271deg) translateX(-256px);
}

.DGAeFrbCfJ6CFxKC8QoK::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url(/src/assets/739d47563d2a9b517230.png) 0 0 repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(180deg) translate(-256px, -256px);
}

.AERSOcrU0QdAPatZRpZH::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url(/src/assets/739d47563d2a9b517230.png) 0 0 repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(90deg) translate(0px, -256px);
}

.USwkBda43Il89jzTHOPV::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url(/src/assets/739d47563d2a9b517230.png) -256px 0 repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(0deg);
}

.C015eYVteWci5Oxt_Wph::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url(/src/assets/739d47563d2a9b517230.png) -512px 0 repeat;
  transform-origin: top left;
  transform: scale(0.12);
}

.YwVvbSGXqFpYJg3eaDhQ::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url(/src/assets/739d47563d2a9b517230.png) -512px 0 repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(271deg) translateX(-256px);
}

.sPBntzguSibagjE6o1qo::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url(/src/assets/739d47563d2a9b517230.png) -512px 0 repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(180deg) translate(-256px, -256px);
}

.jcm0ElwUxZQvN62mcUoC::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url(/src/assets/739d47563d2a9b517230.png) -512px 0 repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(90deg) translate(0px, -256px);
}
.rMeXZrRv_s0KMEEObAZp::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url(/src/assets/739d47563d2a9b517230.png) -768px 0 repeat;
  transform-origin: top left;
  transform: scale(0.12);
}

._Z165d6vvgk5PH11bPCh::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url(/src/assets/739d47563d2a9b517230.png) -768px 0 repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(271deg) translateX(-256px);
}

.yzJKyAkaQ8T7CvAxTACd::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url(/src/assets/739d47563d2a9b517230.png) -768px 0 repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(180deg) translate(-256px, -256px);
}

.sIRKst90g8b8QFarH5Qv::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url(/src/assets/739d47563d2a9b517230.png) -768px 0 repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(90deg) translate(0px, -256px);
}

.I7PgqR0ENH12fgIxg7qV::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url(/src/assets/739d47563d2a9b517230.png) -1024px 0 repeat;
  transform-origin: top left;
  transform: scale(0.12);
}

.TYGo1rTZiPtgr7gnAVy_::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url(/src/assets/739d47563d2a9b517230.png) -1024px 0 repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(271deg) translateX(-256px);
}

.w5Sut8NS7bcfcOo3vzBm::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url(/src/assets/739d47563d2a9b517230.png) -1024px 0 repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(180deg) translate(-256px, -256px);
}

.AMXamc2_m5oKVJUlx4Ya::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url(/src/assets/739d47563d2a9b517230.png) -1024px 0 repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(90deg) translate(0px, -256px);
}

.PqWoirWpkEiVkJWXZjts::before {
  content: '';  
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url(/src/assets/739d47563d2a9b517230.png) -1280px 0 repeat;
  transform-origin: top left;
  transform: scale(0.12);
}

.v_RqktKldnfBdMzps1zi::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url(/src/assets/739d47563d2a9b517230.png) -1280px 0 repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(271deg) translateX(-256px);
}
.snlXzClAQQLmrqq2MfLm {
  display: grid;
  grid-gap: 8px;
  grid-auto-flow: column;
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

#app {
  height: 100%;
}

#canvas {
  height: 100%;
  width: 100%;
}

.lucide-icon {
  pointer-events: none;
}

