.root {
  display: flex;

  &[aria-orientation="vertical"] {
    flex-direction: column;
  }

  background-color: #ddd;
  border-radius: 4px;
}

.button {
  border: 0;
  background-color: #ddd;

  border-radius: 4px;

  &[aria-pressed='true'] {
    background-color: rgba(0, 238, 255, 0.744);
  }

  &:hover {
    background-color: #c6c6c6;
  }

  --ripple-x: 0;
  --ripple-y: 0;
  --ripple-color: rgba(0, 182, 195, 0.744);
  --animation-tick: 0;
}

.ripple {
    background-image: paint(ripple);
  }
