.root {
  display: flex;

  &[aria-orientation="vertical"] {
    flex-direction: column;
  }

  background-color: #ddd;
  border-radius: 4px;
}

.button {
  border: 0;
  background-color: #ddd;
  padding: 4px;
  border-radius: 2px;
  aspect-ratio: 1 / 1;
  height: 32px;

  &[aria-pressed='true'] {
    background-color: rgba(102, 102, 102, 0.744);
    border: 1px solid #707070;
  }

  &:hover {
    background-color: #c6c6c6;
  }

  --ripple-x: 0;
  --ripple-y: 0;
  --ripple-color: rgba(0, 182, 195, 0.744);
  --animation-tick: 0;
}

.ripple {
    background-image: paint(ripple);
  }
