.root {
  display: flex;

  &[aria-orientation='vertical'] {
    flex-direction: column;
  }

  background-color: #ddd;
  border-radius: 4px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  background-color: oklch(from var(--color-baseline) calc(l - 0.05) c h);
  padding: 0;
  border-radius: 2px;
  aspect-ratio: 1 / 1;
  height: 32px;

  &[aria-pressed='true'] {
    background-color: oklch(from var(--color-baseline) calc(l - 0.09) c h);
    border: 2px solid oklch(from var(--color-baseline) calc(l - 0.25) c h);
  }

  &:hover {
    background-color: oklch(from var(--color-baseline) calc(l - 0.25) c h);
  }

  --ripple-x: 0;
  --ripple-y: 0;
  --ripple-color: rgba(0, 182, 195, 0.744);
  --animation-tick: 0;
}

.ripple {
  background-image: paint(ripple);
}
