.root {
  list-style-type: none;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  max-height: 18em;
  overflow-y: auto;
}

.root:focus {
  outline: 2px #b6b6b6 solid;
}

.option {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 8px;
  justify-content: start;
  cursor: pointer;
  align-items: center;
  min-width: 2.5rem;
}

.option[aria-selected='true'] {
  position: relative;
  background-color: #c9fffe;
}

.option.focused::before {
  content: '✅';
  position: absolute;
  right: 4px;
}
