.icon {
  width: 32px;
  height: 32px;
  pointer-events: none;
  position: relative;
  overflow: hidden;
}

.icon > * {
  pointer-events: none;
}

/* .icon::before {
  content: "";
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url("../../assets/atlas.png") 0 0 repeat;
  /* transform: scale(0.12);
  transform-origin: top left;
} */

.icon-arrow-up::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') 0 0 repeat;
  transform-origin: top left;
  transform: scale(0.12);
}

.icon-arrow-left::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') 0 0 repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(271deg) translateX(-256px);
}

.icon-arrow-down::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') 0 0 repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(180deg) translate(-256px, -256px);
}

.icon-arrow-right::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') 0 0 repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(90deg) translate(0px, -256px);
}

.icon-source-block::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') -256px 0 repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(0deg);
}

.icon-blocker-up::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') -512px 0 repeat;
  transform-origin: top left;
  transform: scale(0.12);
}

.icon-blocker-left::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') -512px 0 repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(271deg) translateX(-256px);
}

.icon-blocker-down::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') -512px 0 repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(180deg) translate(-256px, -256px);
}

.icon-blocker-right::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') -512px 0 repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(90deg) translate(0px, -256px);
}
.icon-delay-arrow-up::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') -768px 0 repeat;
  transform-origin: top left;
  transform: scale(0.12);
}

.icon-delay-arrow-left::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') -768px 0 repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(271deg) translateX(-256px);
}

.icon-delay-arrow-down::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') -768px 0 repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(180deg) translate(-256px, -256px);
}

.icon-delay-arrow-right::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') -768px 0 repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(90deg) translate(0px, -256px);
}

.icon-signal-detector-up::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') -1024px 0 repeat;
  transform-origin: top left;
  transform: scale(0.12);
}

.icon-signal-detector-left::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') -1024px 0 repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(271deg) translateX(-256px);
}

.icon-signal-detector-down::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') -1024px 0 repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(180deg) translate(-256px, -256px);
}

.icon-signal-detector-right::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') -1024px 0 repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(90deg) translate(0px, -256px);
}

.icon-opposite-arrow-up::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') -1280px 0 repeat;
  transform-origin: top left;
  transform: scale(0.12);
}

.icon-opposite-arrow-left::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') -1280px 0 repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(271deg) translateX(-256px);
}

.icon-opposite-arrow-down::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') -1280px 0 repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(180deg) translate(-256px, -256px);
}

.icon-opposite-arrow-right::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') -1280px 0 repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(90deg) translate(0px, -256px);
}

.icon-orthogonal-arrow-up-not-flip::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') -1536px 0 repeat;
  transform-origin: top left;
  transform: scale(0.12);
}

.icon-orthogonal-arrow-up-flip::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') -1536px 0 repeat;
  transform-origin: top left;
  transform: scale(-0.12, 0.12) translate(-256px, 0);
}

.icon-orthogonal-arrow-down-not-flip::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') -1536px 0 repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(180deg) translate(-256px, -256px);
}

.icon-orthogonal-arrow-down-flip::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') -1536px 0 repeat;
  transform-origin: top left;
  transform: scale(-0.12, 0.12) rotate(180deg) translate(0, -256px);
}

.icon-orthogonal-arrow-left-not-flip::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') -1536px 0 repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(271deg) translateX(-256px);
}

.icon-orthogonal-arrow-left-flip::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') -1536px 0 repeat;
  transform-origin: top left;
  transform: scale(-0.12, 0.12) rotate(90deg);
}

.icon-orthogonal-arrow-right-not-flip::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') -1536px 0 repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(90deg) translate(0px, -256px);
}

.icon-orthogonal-arrow-right-flip::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') -1536px 0 repeat;
  transform-origin: top left;
  transform: scale(-0.12, 0.12) rotate(271deg) translate(-256px, -256px);
}

.icon-trio-arrow-right::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') -1792px 0 repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(90deg) translate(0px, -256px);
}

.icon-trio-arrow-left::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') -1792px 0 repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(271deg) translateX(-256px);
}

.icon-trio-arrow-up::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') -1792px 0 repeat;
  transform-origin: top left;
  transform: scale(0.12);
}

.icon-trio-arrow-down::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') -1792px 0 repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(180deg) translate(-256px, -256px);
}

.icon-pulse-generator::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') 0px -256px repeat;
  transform-origin: top left;
  transform: scale(0.12);
}

.icon-through-arrow-up::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') -256px -256px repeat;
  transform-origin: top left;
  transform: scale(0.12);
}

.icon-through-arrow-down::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') -256px -256px repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(180deg) translate(-256px, -256px);
}

.icon-through-arrow-left::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') -256px -256px repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(271deg) translateX(-256px);
}

.icon-through-arrow-right::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') -256px -256px repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(90deg) translate(0px, -256px);
}

.icon-diagonal-arrow-up-not-flip::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') -512px -256px repeat;
  transform-origin: top left;
  transform: scale(0.12);
}

.icon-diagonal-arrow-up-flip::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') -512px -256px repeat;
  transform-origin: top left;
  transform: scale(-0.12, 0.12) translate(-256px, 0);
}

.icon-diagonal-arrow-down-not-flip::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') -512px -256px repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(180deg) translate(-256px, -256px);
}

.icon-diagonal-arrow-down-flip::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') -512px -256px repeat;
  transform-origin: top left;
  transform: scale(-0.12, 0.12) rotate(180deg) translate(0px, -256px);
}

.icon-diagonal-arrow-left-not-flip::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') -512px -256px repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(271deg) translate(-256px, 0px);
}

.icon-diagonal-arrow-left-flip::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') -512px -256px repeat;
  transform-origin: top left;
  transform: scale(-0.12, 0.12) rotate(90deg);
}

.icon-diagonal-arrow-right-not-flip::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') -512px -256px repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(90deg) translate(0px, -256px);
}

.icon-diagonal-arrow-right-flip::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') -512px -256px repeat;
  transform-origin: top left;
  transform: scale(-0.12, 0.12) rotate(271deg) translate(-256px, -256px);
}

.icon-double-arrow-up::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') -768px -256px repeat;
  transform-origin: top left;
  transform: scale(0.12);
}

.icon-double-arrow-down::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') -768px -256px repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(180deg) translate(-256px, -256px);
}

.icon-double-arrow-left::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') -768px -256px repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(271deg) translateX(-256px);
}

.icon-double-arrow-right::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') -768px -256px repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(90deg) translate(0px, -256px);
}

.icon-through-near-up-not-flip::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') -1024px -256px repeat;
  transform-origin: top left;
  transform: scale(0.12);
}

.icon-through-near-up-flip::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') -1024px -256px repeat;
  transform-origin: top left;
  transform: scale(-0.12, 0.12) translate(-256px, 0px);
}

.icon-through-near-down-not-flip::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') -1024px -256px repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(180deg) translate(-256px, -256px);
}

.icon-through-near-down-flip::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') -1024px -256px repeat;
  transform-origin: top left;
  transform: scale(-0.12, 0.12) rotate(180deg) translate(0px, -256px);
}

.icon-through-near-left-not-flip::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') -1024px -256px repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(271deg) translate(-256px, 0px);
}

.icon-through-near-left-flip::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') -1024px -256px repeat;
  transform-origin: top left;
  transform: scale(-0.12, 0.12) rotate(90deg);
}

.icon-through-near-right-not-flip::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') -1024px -256px repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(90deg) translate(0px, -256px);
}

.icon-through-near-right-flip::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') -1024px -256px repeat;
  transform-origin: top left;
  transform: scale(-0.12, 0.12) rotate(271deg) translate(-256px, -256px);
}

.icon-forward-diag-arrow-up-not-flip::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') -1280px -256px repeat;
  transform-origin: top left;
  transform: scale(0.12);
}

.icon-forward-diag-arrow-up-flip::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') -1280px -256px repeat;
  transform-origin: top left;
  transform: scale(-0.12, 0.12) translate(-256px, 0px);
}

.icon-forward-diag-arrow-down-not-flip::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') -1280px -256px repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(180deg) translate(-256px, -256px);
}

.icon-forward-diag-arrow-down-flip::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') -1280px -256px repeat;
  transform-origin: top left;
  transform: scale(-0.12, 0.12) rotate(180deg) translate(0, -256px);
}

.icon-forward-diag-arrow-left-not-flip::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') -1280px -256px repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(271deg) translateX(-256px);
}

.icon-forward-diag-arrow-left-flip::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') -1280px -256px repeat;
  transform-origin: top left;
  transform: scale(-0.12, 0.12) rotate(90deg);
}

.icon-forward-diag-arrow-right-not-flip::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') -1280px -256px repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(90deg) translate(0px, -256px);
}

.icon-forward-diag-arrow-right-flip::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') -1280px -256px repeat;
  transform-origin: top left;
  transform: scale(-0.12, 0.12) rotate(271deg) translate(-256px, -256px);
}

.icon-not-gate-up::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') -1536px -256px repeat;
  transform-origin: top left;
  transform: scale(0.12);
}

.icon-not-gate-down::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') -1536px -256px repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(180deg) translate(-256px, -256px);
}

.icon-not-gate-left::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') -1536px -256px repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(271deg) translate(-256px, 0px);
}

.icon-not-gate-right::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') -1536px -256px repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(90deg) translate(0px, -256px);
}

.icon-and-gate-up::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') -1792px -256px repeat;
  transform-origin: top left;
  transform: scale(0.12);
}

.icon-and-gate-down::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') -1792px -256px repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(180deg) translate(-256px, -256px);
}

.icon-and-gate-left::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') -1792px -256px repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(271deg) translate(-256px, 0px);
}

.icon-and-gate-right::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') -1792px -256px repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(90deg) translate(0px, -256px);
}

.icon-xor-gate-up::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') 0px -512px repeat;
  transform-origin: top left;
  transform: scale(0.12);
}

.icon-xor-gate-down::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') 0px -512px repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(180deg) translate(-256px, -256px);
}

.icon-xor-gate-left::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') 0px -512px repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(271deg) translate(-256px, 0px);
}

.icon-xor-gate-right::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') 0px -512px repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(90deg) translate(0px, -256px);
}

.icon-latch-up::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') -256px -512px repeat;
  transform-origin: top left;
  transform: scale(0.12);
}

.icon-latch-down::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') -256px -512px repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(180deg) translate(-256px, -256px);
}

.icon-latch-left::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') -256px -512px repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(271deg) translate(-256px, 0px);
}

.icon-latch-right::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') -256px -512px repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(90deg) translate(0px, -256px);
}

.icon-flip-flop-up::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') -512px -512px repeat;
  transform-origin: top left;
  transform: scale(0.12);
}

.icon-flip-flop-down::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') -512px -512px repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(180deg) translate(-256px, -256px);
}

.icon-flip-flop-left::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') -512px -512px repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(271deg) translate(-256px, 0px);
}

.icon-flip-flop-right::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') -512px -512px repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(90deg) translate(0px, -256px);
}

.icon-random-arrow-up::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') -768px -512px repeat;
  transform-origin: top left;
  transform: scale(0.12);
}

.icon-random-arrow-down::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') -768px -512px repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(180deg) translate(-256px, -256px);
}

.icon-random-arrow-left::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') -768px -512px repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(271deg) translate(-256px, 0px);
}

.icon-random-arrow-right::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') -768px -512px repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(90deg) translate(0px, -256px);
}

.icon-button::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') -1024px -512px repeat;
  transform-origin: top left;
  transform: scale(0.12);
}

.icon-input-arrow-up::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') -1280px -512px repeat;
  transform-origin: top left;
  transform: scale(0.12);
}

.icon-input-arrow-down::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') -1280px -512px repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(180deg) translate(-256px, -256px);
}

.icon-input-arrow-left::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') -1280px -512px repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(271deg) translate(-256px, 0px);
}

.icon-input-arrow-right::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') -1280px -512px repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(90deg) translate(0px, -256px);
}

.icon-output-arrow::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') -1536px -512px repeat;
  transform-origin: top left;
  transform: scale(0.12);
}

.icon-directional-button-up::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') -1792px -512px repeat;
  transform-origin: top left;
  transform: scale(0.12);
}

.icon-directional-button-down::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') -1792px -512px repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(180deg) translate(-256px, -256px);
}

.icon-directional-button-left::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') -1792px -512px repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(271deg) translate(-256px, 0px);
}

.icon-directional-button-right::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') -1792px -512px repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(90deg) translate(0px, -256px);
}

.icon-bulb::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') 0px -768px repeat;
  transform-origin: top left;
  transform: scale(0.12);
}

.icon-bulb-detector-up::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') -256px -768px repeat;
  transform-origin: top left;
  transform: scale(0.12);
}

.icon-bulb-detector-down::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') -256px -768px repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(180deg) translate(-256px, -256px);
}

.icon-bulb-detector-left::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') -256px -768px repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(271deg) translate(-256px, 0px);
}

.icon-bulb-detector-right::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') -256px -768px repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(90deg) translate(0px, -256px);
}

.icon-wall::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') -512px -768px repeat;
  transform-origin: top left;
  transform: scale(0.12);
}

.icon-confluent-arrow-up::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') -768px -768px repeat;
  transform-origin: top left;
  transform: scale(0.12);
}

.icon-confluent-arrow-down::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') -768px -768px repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(180deg) translate(-256px, -256px);
}

.icon-confluent-arrow-left::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') -768px -768px repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(271deg) translate(-256px, 0px);
}

.icon-confluent-arrow-right::before {
  content: '';
  position: absolute;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  z-index: 0;
  background: url('../../assets/atlas.png') -768px -768px repeat;
  transform-origin: top left;
  transform: scale(0.12) rotate(90deg) translate(0px, -256px);
}
