.button {
  appearance: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  border-radius: 2px;
  background-color: oklch(from var(--color-baseline) calc(l - 0.05) c h);
  font-size: 16px;
  line-height: 0;
  transition: 0.25s background-color;
  border: 0;
  font-family: 'Palatino Linotype';
  padding: 0 8px;
}

.inner {
  display: inline-flex;
}
