.root {
  background: transparent;
  border: 0;
  cursor: pointer;
}

.root[href] {
  text-decoration: none;
}

.ripple {
  background-image: paint(ripple);

  --ripple-x: 0;
  --ripple-y: 0;
  --ripple-color: rgba(0, 182, 195, 0.744);
  --animation-tick: 0;
}
