.button {
  appearance: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: auto;
  outline: none;
  border-radius: 6px;
  padding: 0 8px;
  background-color: #0284c5;
  color: #fff;
  font-size: 16px;
  line-height: 0;
  transition: 0.25s background-color;
  border: 0;
}
