.container {
  display: grid;
  grid-template-columns: 50px auto;
  grid-template-rows: 50px 50px auto;
  grid-template-areas:
    'header header'
    'context context'
    'sidebar main';
  height: 100vh;
}

.header {
  grid-area: header;
  background-color: #eaeaea;
  display: flex;
  align-items: center;
}

.sidebar {
  grid-area: sidebar;
  background-color: rgb(235, 235, 235);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  grid-area: main;
}

.landing-main {
  grid-area: main;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  background-color: var(--elevation-surface-baseline);
  color: var(--color-onBaseline);
}

.context {
  grid-area: context;
  display: flex;
  align-items: center;
  background-color: rgb(212 212 212);
  border-bottom: 1px solid #bababa;
  padding-left: 4px;
}
