.container {
  display: grid;
  grid-template-columns: 50px auto;
  grid-template-rows: 50px 50px calc(100vh - 100px); /* КОСТЫЛЬ */
  grid-template-areas:
    'header header'
    'context context'
    'sidebar main';
}

.header {
  grid-area: header;
  background-color: oklch(from var(--color-baseline) l c h);
  border-bottom: 1px solid oklch(from var(--color-baseline) calc(l - 0.05) c h);
  display: flex;
  align-items: center;
  gap: 16px;
}

.sidebar {
  grid-area: sidebar;
  background-color: oklch(from var(--color-baseline) l c h);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  grid-area: main;
  position: relative;
}

.landing-main {
  grid-area: main;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  background-color: oklch(from var(--color-baseline) l c h);
  color: var(--color-onBaseline);
  font-size: 1.5rem;
}

.context {
  grid-area: context;
  display: flex;
  align-items: center;
  background-color: oklch(from var(--color-baseline) l c h);
  border-bottom: 1px solid oklch(from var(--color-baseline) calc(l - 0.09) c h);
  padding-left: 4px;
}

.nav {
  display: flex;
  gap: 16px;
  align-items: center;
}
