.toolbar {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-top: 8px;
  flex-direction: column;
  flex-basis: 100%;
}

.bar {
  margin-top: auto;
  max-height: 35%;
  margin-bottom: 8px;
}
