body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Palatino Linotype';
  background-color: oklch(from var(--color-baseline) l c h);
}

/* #app {
  background-color: oklch(from var(--color-baseline) l c h);
} */

#canvas {
  height: calc(100vh - 100px); 
  width: 100%; 
  display:block;
  position: absolute;
  top: 0;
  left: 0;
  anchor-name: --canvas;
}

.lucide-icon {
  pointer-events: none;
}

.level-list-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  column-gap: 8px;
  row-gap: 64px;
}

@media (min-width: 1250px) {
  .level-list-grid {
    max-width: 2000px;
  }
}

#labelContainer .label {
  width: 24px;
  height: 24px;
  background-color: oklch(from var(--color-primary) l c h / 20%);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-family: tahoma, sans-serif;
  border-radius: 50%;
}
